@use "../../../styles/mixins" as *;

.service-hero {
  margin-bottom: var(--spacing-xl);

  &__container {
    margin-top: var(--spacing-xxl);
    @include md {
      margin-top: var(--spacing-xl);
    }
  }

  &__header {
    padding: 0 var(--spacing-xl);
    margin-bottom: 48px;
  }

  &__subtitle {
    font-size: var(--subtitle);
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__stats {
    background: var(--primary-25);
    border-radius: 20px;
    padding: var(--spacing-xl);
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 2;
    
    @include sm {
      flex-direction: column;
    }
  }

  &__stat {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__stat-number {
    font-size: var(--title-xxl);
  }

  &__cta {
    background: #d0dbeb;
    padding: 35px 32px 15px;
    margin: -20px 40px 0;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    @include sm {
      margin: -20px 0 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
