body {
  font-size: var(--body-md);
  font-weight: var(--weight-regular);
  color: var(--text-primary);
}

.title-xxl {
  font-size: var(--title-xxl);
  font-weight: var(--weight-regular);
}

.title-xl {
  font-size: var(--title-xl);
  font-weight: var(--weight-regular);
}

.title-lg {
  font-size: var(--title-lg);
  font-weight: var(--weight-regular);
}

h1,
.heading-xl {
  font-size: var(--heading-xl);
  font-weight: var(--weight-medium);
}

h2,
.heading-lg {
  font-size: var(--heading-lg);
  font-weight: var(--weight-medium);
}

h3,
.heading-md {
  font-size: var(--heading-md);
  font-weight: var(--weight-medium);
}

h4,
.heading-sm {
  font-size: var(--heading-sm);
  font-weight: var(--weight-medium);
}

.body-lg {
  font-size: var(--body-lg);
  font-weight: var(--weight-medium);
}

.body-md {
  font-size: var(--body-md);
  font-weight: var(--weight-regular);
}
