@use "reset";
@use "variables/colors";
@use "variables/spacing";
@use "variables/fonts";
@use "typography";
@use "containers";
@use "buttons";

body {
  color: var(--text-primary);
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-page {
  footer {
    margin-top: 20px;
  }
}
