@use "../../../styles/mixins" as *;

.features {
  &__container {
    padding: var(--spacing-xl);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  &__subtitle {
    font-size: var(--subtitle);
    text-transform: uppercase;
  }
  &__description {
    color: var(--text-secondary);
    font-size: var(--body-sm);
  }
  &__content {
    width: 100%;
    gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include lg {
      grid-template-columns: 1fr 1fr;
    }
    @include md {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    &--content {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &--description {
      font-size: var(--body-sm);
      color: var(--text-secondary);
    }
  }
  &__icon {
    fill: var(--icon-accent);
    background: var(--primary-25);
    width: 72px;
    height: 72px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    svg {
      height: 40%;
    }
    @include sm {
      width: 56px;
      height: 56px;
    }
  }
}
