@use "../../../styles/mixins" as *;

.stats {
  &__container {
    padding: var(--spacing-xl);
    background: radial-gradient(
        circle at 30% 50%,
        rgba(65, 165, 205, 0.8) 0%,
        rgba(0, 118, 161, 0) 50%
      ),
      radial-gradient(
        circle at 70% 50%,
        rgba(65, 165, 205, 0.8) 0%,
        rgba(0, 118, 161, 0) 50%
      ),
      #0076a1;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-right: 30%;
    position: relative;
    overflow: hidden;
    &::after {
      content: url("../../../../static/images/cleaning-device.png");
      position: absolute;
      right: 0;
      @include lg {
          right: -100px;
      }
      @include md {
          top: 50%;
          margin-top: -200px;
      }
    }
    @include md {
      flex-direction: column;
      padding: 30px;
    }
  }
  &__item {
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    gap: 24px;
    &--value {
      font-size: 84px;
    }
    &--name {
    }
  }
}
