:root {
  --primary-0: #f4f7fe;
  --primary-25: #f1f6ff;
  --primary-50: #adc0db;
  --primary-100: #34a3df;
  --primary-200: #34a3df;
  --primary-300: #34a3df;
  --primary-400: #2f5cb5;

  --text-white: #ffffff;
  --text-primary: #0d1337;
  --text-secondary: #515968;
  --text-primary-hover: #082C74;

  --surface: #ffffff;

  --black: #040313;
  --white: #ffffff;

  --icon-white: #ffffff;
  --icon-black: #000000;
  --icon-accent: #2f5cb5;

  --dark-grey-600: #1c235b;
  --dark-grey-500: #3f4b6c;

  --secondary-light: #ffeb39;
}
