@use "../mixins" as *;

:root {
  --container-width: 1440px;
  
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 48px;
  --spacing-xl: 72px;
  --spacing-xxl: 120px;
}

@include lg {
  :root {
    --spacing-lg: 28px;
    --spacing-xl: 32px;
    --spacing-xxl: 72px;
  }
}
