@use "../mixins" as *;

:root {
  /* Base Font */
  --font-primary: "Satoshi", sans-serif;
  
  --title-xxl: 84px;
  --title-xl: 68px;
  --title-lg: 56px;
  
  /* Headings (Стандартные заголовки) */
  --heading-xl: 40px;
  --heading-lg: 36px;
  --heading-md: 24px;
  --heading-sm: 22px;
  
  /* Body (Основной текст) */
  --body-lg: 20px;
  --body-md: 18px;
  --body-sm: 16px;
  --body-xsm: 13px;
  
  /* Subtitle (Основной текст) */
  --subtitle: 16px;
  
  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}


@include lg {
  :root {
    --title-xxl: 52px;
    --title-xl: 42px;
    --title-lg: 38px;
    
    --body-lg: 18px;
    --body-md: 16px;
    --body-sm: 14px;
  }
}
