@use "../../../styles/mixins" as *;

.service-card {
  display: flex;
  gap: 32px;
  
  @include sm {
    flex-direction: column;
  }

  &__image {
    width: 300px;
    height: 168px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
    &-content {
      transition: transform 0.5s ease-in;
      border-radius: 12px;
    }
    @include sm {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__description {
    color: var(--text-secondary);
    font-size: var(--body-sm);
    margin-bottom: 20px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__tag {
    padding: 10px 12px 10px 36px;
    border: 1px solid #e8edf4;
    border-radius: 20px;
    font-size: var(--body-sm);
    display: flex;
    align-items: center;
    color: var(--text-primary);
    position: relative;
    &::before {
      content: "";
      width: 26px;
      height: 26px;
      position: absolute;
      left: 8px;
      background-image: url("../../../../static/images/icons/mark.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:hover {
    .service-card__image-content {
      transform: scale(1.05);
    }
  }
}
